@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }

  .serch-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .serch-input::-ms-clear {
    appearance: none;
  }
}